.navbar {
  background: #fff;
  width: 100%;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: rgb(193, 198, 202);
}

.nav-logo {
  color: #071c35;
}

.color {
  color: #047469;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  list-style: none;
  padding: 20px;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.nav-links {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.active {
  color: #047469;
}

.btn-link {
  text-decoration: none;
  color: black;
  font-size: 15;
  font-weight: 500;
  margin-right: 20px;
}
